server:
  port: 8080

spring:
  application:
    name: project
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://db:5432/authdb}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    hikari:
      maximum-pool-size: 5  # Reduced for cloud free tier limits
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: email, profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://www.googleapis.com/oauth2/v4/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: ${REDIS_USERNAME:}
      password: ${REDIS_PASSWORD:}
      ssl:
        enabled: ${REDIS_SSL:false}

  # config to update db auto
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0

logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: TRACE


app:
  jwt:
    secret: ${JWT_SECRET}
    accessTokenExpirationMs: 15000     # 15 minutes
    refreshTokenExpirationMs: 604800000 # 7 days
  oauth2:
    authorizedRedirectUri: http://localhost:3000/
  crawler:
    schedule:
      cron: 0 0 2 * * *

redis:
  stream:
    key: events-stream
    notification-group: notification-group
    activity-group: activity-group
  stream-dlq-suffix: "-dlq"
  retry:
    max-attempts: 3
    pending-scan-interval-ms: 10000
    base-backoff-ms: 5000
    processed-ttl-seconds: 86400

google:
  drive:
    # Cú pháp: ${TÊN_BIẾN_MÔI_TRƯỜNG:giá_trị_mặc_định_nếu_không_có}
    client-id: ${CLIENT_ID}
    client-secret: ${CLIENT_SECRET}
    refresh-token: ${REFRESH_TOKEN}